<h1>Welcome to your Mack application!</h1>

<p>If you are seeing this page, it means that your Mack application has been generated properly!</p>

<% 5.times do -%>
  <%= render_url(say_hi_url) %>
<% end -%>