<p>
  <b>Title</b><br />
  <input type="text" name="post[title]" id="post_title" size="30" value="<%= @post.title %>" />
</p>
<p>
  <b>Email</b><br />
  <input type="text" name="post[email]" id="post_email" size="30" value="<%= @post.email %>" />
</p>
<p>
  <b>Body</b><br />
  <textarea name="post[body]" id="post_body" cols="60" rows="20"><%= @post.body %></textarea>
</p>