<h1>Edit Post</h1>

<%= error_messages_for :post %>

<% form(posts_update_url(:id => @post), :id => :edit_post, :class => :edit_post, :method => :put) do -%>
  <%= render(:partial, :form) %>
  <p>
    <input id="post_submit" name="commit" type="submit" value="Create" />
  </p>
<% end -%>

<%= link_to("Back", posts_index_url) %>
