<h1>New Post</h1>

<%= error_messages_for :post %>

<% form(posts_create_url, :id => :new_post, :class => :new_post, :multipart => true) do -%>
  <%= render(:partial => :form) %>
  <p>
    <b>Added a file</b><br />
    <input type="file" name="post_uploaded_file">
  </p>
  <p>
    <input id="post_submit" name="commit" type="submit" value="Create" />
  </p>
<% end -%>

<%= link_to("Back", posts_index_url) %>
