<h1>New Post</h1>

<%= error_messages_for :post %>

<form action="<%= posts_create_url %>" class="new_post" id="new_post" method="post" enctype="multipart/form-data">
  <%= render(:partial => :form) %>
  <p>
    <b>Added a file</b><br />
    <input type="file" name="post_uploaded_file">
  </p>
  <p>
    <input id="post_submit" name="commit" type="submit" value="Create" />
  </p>
</form>

<%= link_to("Back", posts_index_url) %>
