<!-- <form action="<%= uploads_create_url %>" method="post" enctype="multipart/form-data">
  <p>Choose File: <input type="file" name="my_new_file"></p>

  <p><input type="submit" value="Continue &rarr;"></p>
</form> -->

<form action="<%= uploads_show_url %>">
  <p><input type"text" value="1" name="id"></p>
  <p><input type="submit" value="Continue &rarr;"></p>
</form>