<form action="<%= uploads_create_url %>" method="post" enctype="multipart/form-data">
  <p>Choose File: <input type="file" name="my_new_file"></p>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>